Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

remove json regex in lint
  lefthook.yml
Due: none

Remove builder, coBuilders and installCommand
  src/curated-extensions.ts
  src/extensions.json
  src/types.ts
Due: lint, format

remove unused error
  src/utils/system-validation.ts
Due: type-check, lint, format

remove .tsx from glob for type-check
  lefthook.yml
Due: none

add type-check to actions
  .github/workflows/lint.yml
Due: none

up eslint packages + type check and format in pre-commit (#156)
  .github/workflows/lint.yml
  lefthook.yml
  package.json
  src/extensions.json
  src/utils/parse-arguments-into-options.ts
  src/utils/system-validation.ts
  tsconfig.json
  yarn.lock
Due: type-check, lint, format

Removed name from extensions.json
  src/extensions.json
Due: lint, format

Get name from branch on curated-extensions.ts
  src/curated-extensions.ts
Due: lint, format

use branch as obj key always
  src/curated-extensions.ts
  src/extensions.json
Due: lint, format

move tests from solidity-frameworks => example-contracts templates
  templates/example-contracts/foundry/packages/foundry/test/YourContract.t.sol
  templates/example-contracts/hardhat/packages/hardhat/test/YourContract.ts
  templates/solidity-frameworks/foundry/packages/foundry/test/.gitkeep
  templates/solidity-frameworks/hardhat/packages/hardhat/test/.gitkeep
Due: lint, format

revert changes to packages/nextjs/prettierrc.js
  templates/base/packages/nextjs/.prettierrc.js
Due: lint, format

Update CHANGELOG.md
  CHANGELOG.md
Due: lint, format

Add warning for deleted files to prevent errors during processing
  src/dev/create-extension.ts
Due: type-check, lint, format

Changeset
  .changeset/spotty-fans-occur.md
Due: lint, format

remove the deleted file if found in commit history
  src/dev/create-extension.ts
Due: type-check, lint, format

make one function to get changed files
  src/dev/create-extension.ts
Due: type-check, lint, format

remove changeset
  .changeset/spotty-fans-occur.md
Due: lint, format

naming tweak
  src/dev/create-extension.ts
Due: type-check, lint, format

update diffFilter D to get all the deleted throughout history
  src/dev/create-extension.ts
Due: type-check, lint, format

use flag instead of options
  src/dev/create-extension.ts
Due: type-check, lint, format

Format package.json files
  src/utils/merge-package-json.ts
Due: type-check, lint, format

Changeset
  .changeset/thirty-hairs-crash.md
Due: lint, format

review tweaks
  src/dev/create-extension.ts
Due: type-check, lint, format

update changelog formatting
  CHANGELOG.md
Due: lint, format

Do not copy/link .DS_Store files - macOS only
  src/tasks/copy-template-files.ts
Due: type-check, lint, format

Changeset
  .changeset/rude-insects-compete.md
Due: lint, format

format changelog
  CHANGELOG.md
Due: lint, format

template object for hardhat.config
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: none

varibles in args working
  src/tasks/copy-template-files.ts
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
  templates/utils.js
Due: type-check, lint, format

revert the stringify variant
  templates/utils.js
Due: lint, format

feat: object merge with special characters
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
  templates/utils.js
Due: lint, format

fix: spaces in project name
  src/utils/prompt-for-missing-options.ts
Due: type-check, lint, format

fix: restrict only spaces at the end
  src/utils/parse-arguments-into-options.ts
  src/utils/prompt-for-missing-options.ts
Due: type-check, lint, format

Add changes from foundry-se-2
  templates/solidity-frameworks/foundry/packages/foundry/Makefile
  templates/solidity-frameworks/foundry/packages/foundry/package.json
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/parseArgs.js
Due: lint, format

add changeset
  .changeset/cool-vans-kick.md
Due: lint, format

Remove unused import
  templates/base/packages/nextjs/utils/scaffold-eth/getMetadata.ts.template.mjs
Due: none

Add missing comma
  templates/base/packages/nextjs/utils/scaffold-eth/getMetadata.ts.template.mjs
Due: none

fix: merge package.json files
  src/tasks/copy-template-files.ts
Due: type-check, lint, format

templatise foundry Makefile and add --via-ir flag
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
Due: none

add changeset
  .changeset/tame-donuts-thank.md
Due: lint, format

Path conditions:
  type-check: any of: src/**/*.{ts,tsx}
  lint: any of: *.{js,ts,md,json}
  format: any of: *.{js,ts,md,json}
