Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

renmae to overrideCSS
  templates/base/packages/nextjs/styles/globals.css.template.mjs
Due: none

Add Foundry Tests Workflow
  templates/solidity-frameworks/foundry/.github/workflows/test-contracts.yml
Due: none

fix: github rate limit
  src/utils/external-extensions.ts
Due: type-check, lint, format

add prediction markets challenge to extensions
  src/extensions.json
Due: format

update changeset
  CHANGELOG.md
Due: lint, format

chore: log failed request + fix typos
  src/utils/external-extensions.ts
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

chore: remove redundant comment
  src/utils/external-extensions.ts
Due: type-check, lint, format

fix: explicit status handling
  src/utils/external-extensions.ts
Due: type-check, lint, format

rename readme arg to extraContent(s)
  templates/base/README.md.template.mjs
Due: none

add changeset
  .changeset/fast-suns-boil.md
Due: lint, format

Changeset
  .changeset/strong-stingrays-applaud.md
Due: lint, format

feat: npx requirements check
  package.json
  src/cli.ts
  src/utils/system-validation.ts
  yarn.lock
Due: type-check, lint, format

chore: fix semver methods
  src/utils/system-validation.ts
Due: type-check, lint, format

fix: foundry prettier folder
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
Due: none

run changeset version manually
  .changeset/strong-stingrays-applaud.md
  CHANGELOG.md
Due: lint, format

feat: typecheck for arguments
  templates/base/.github/workflows/lint.yaml.template.mjs
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/utils.js
Due: lint, format

update manifest.json args extracConent => extraContents
  templates/base/packages/nextjs/public/manifest.json.template.mjs
Due: none

update changeset
  .changeset/fast-suns-boil.md
Due: lint, format

fix: git check
  src/utils/system-validation.ts
Due: type-check, lint, format

feat: check for git name and email
  src/utils/system-validation.ts
Due: type-check, lint, format

feat: create empty arg files for templates
  src/dev/create-extension.ts
Due: type-check, lint, format

feat: reference template file
  src/dev/create-extension.ts
Due: type-check, lint, format

feat: add default args to .args.mjs files
  src/dev/create-extension.ts
Due: type-check, lint, format

custommise address type
  templates/base/packages/nextjs/types/abitype/abi.d.ts.template.mjs
Due: none

add changeset
  .changeset/twenty-avocados-share.md
Due: lint, format

add eol
  templates/base/packages/nextjs/types/abitype/abi.d.ts.template.mjs
Due: none

feat: check for git name and email (#272)
  src/utils/system-validation.ts
Due: type-check, lint, format

add abi.d.ts file as example
  contributors/TEMPLATE-FILES.md
Due: lint, format

add changeset
  .changeset/new-hounds-joke.md
Due: lint, format

feat: more accurate types
  templates/utils.js
Due: lint, format

fix: manifest defaut extraContents value
  templates/base/packages/nextjs/public/manifest.json.template.mjs
Due: none

Typecheck for arguments (#270)
  templates/base/.github/workflows/lint.yaml.template.mjs
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/public/manifest.json.template.mjs
  templates/utils.js
Due: lint, format

rename preConfigContent => preContent
  contributors/TEMPLATING.md
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/base/packages/nextjs/next.config.ts.template.mjs
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/getMetadata.ts.template.mjs
  templates/example-contracts/foundry/packages/foundry/script/Deploy.s.sol.args.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/Deploy.s.sol.template.mjs
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: lint, format

in global.css rename overrideCss => postContent
  templates/base/packages/nextjs/styles/globals.css.template.mjs
Due: none

in readME add Generated by SE-2 tag
  templates/base/README.md.template.mjs
Due: none

feat: add filename to args error logs
  templates/utils.js
Due: lint, format

update providers to accept objets
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
Due: none

check for overridProviders key lenght
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
Due: none

(beta) naming and args tweak (#278)
  contributors/TEMPLATING.md
  templates/base/README.md.template.mjs
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/base/packages/nextjs/next.config.ts.template.mjs
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx.template.mjs
  templates/base/packages/nextjs/styles/globals.css.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/getMetadata.ts.template.mjs
  templates/example-contracts/foundry/packages/foundry/script/Deploy.s.sol.args.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/Deploy.s.sol.template.mjs
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: lint, format

fix: log message
  templates/utils.js
Due: lint, format

Path conditions:
  type-check: any of: src/**/*.ts
  lint: any of: *.{js,ts,md}
  format: any of: *.{js,ts,md,json}
