Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "src/**/*.ts"
      run: yarn type-check
    lint:
      glob: "*.{js,ts,md}"
      run: yarn eslint --fix {staged_files}
    format:
      glob: "*.{js,ts,md,json}"
      run: |
        yarn prettier --write {staged_files}
        git add {staged_files}

fix: folders structure and restrict to sf only
  contributors/THIRD-PARTY-EXTENSION.md
  src/tasks/copy-template-files.ts
Due: type-check, lint, format

fix: gh action lint foundry instance (#337)
  .github/workflows/lint-instances.yml
Due: none

fix: update deployHelpers
  templates/solidity-frameworks/foundry/packages/foundry/script/DeployHelpers.s.sol
Due: none

chore: changeset
  .changeset/sour-brooms-bet.md
Due: lint, format

Custom root scripts for solidity frameworks (#326)
  contributors/THIRD-PARTY-EXTENSION.md
  src/tasks/copy-template-files.ts
Due: type-check, lint, format

fix: remove anvil_setBalance
  templates/solidity-frameworks/foundry/packages/foundry/script/DeployHelpers.s.sol
Due: none

Update deployHelpers (#338)
  .changeset/sour-brooms-bet.md
  templates/solidity-frameworks/foundry/packages/foundry/script/DeployHelpers.s.sol
Due: lint, format

add changeset
  .changeset/eight-pears-pull.md
Due: lint, format

fix: deployerPrivateKey arg
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: none

Update CHANGELOG for version 1.0.4
  CHANGELOG.md
Due: lint, format

fix: lint instances fail when install is unsuccessful
  bin/create-dapp-se2.js
  src/cli.ts
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: lint, format

fix: rethrow
  src/main.ts
Due: lint, format

fix: remove proces.exit
  bin/create-dapp-se2.js
  src/cli.ts
Due: lint, format

fix: revert wrong param
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: none

fix: error messages order
  src/cli.ts
  src/main.ts
Due: lint, format

Fix: lint instances action should fail when install is unsuccessful (#342)
  src/cli.ts
  src/main.ts
Due: lint, format

fix: simple-nft -> tokenization
  src/extensions.json
Due: format

fix: simple-nft -> tokenization (#343)
  src/extensions.json
Due: format

add changeset
  .changeset/modern-cobras-sing.md
Due: lint, format

add changeset (#344)
  .changeset/modern-cobras-sing.md
Due: lint, format

fix: undefined network
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

add envio to curated list
  src/extensions.json
Due: format

add changeset
  .changeset/swift-pens-obey.md
Due: lint, format

add chagneset
  .changeset/social-dingos-occur.md
Due: lint, format

add envio to curated list (#348)
  .changeset/swift-pens-obey.md
  src/extensions.json
Due: lint, format

Fix undefined targetNetwork (#347)
  .changeset/social-dingos-occur.md
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: lint, format

feat: add possibility to use functions with global args
  templates/utils.js
Due: lint, format

feat: add the info to TEMPLATING.md
  contributors/TEMPLATING.md
Due: lint, format

Add drizzle-neon as curated extension
  .changeset/tough-rooms-mate.md
  src/extensions.json
Due: lint, format

accept postContent in .gitignores tempaltes
  templates/base/.gitignore.template.mjs
  templates/base/packages/nextjs/.gitignore.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/.gitignore.template.mjs
  templates/solidity-frameworks/hardhat/packages/hardhat/.gitignore.template.mjs
Due: none

remove the extra line in postContent
  templates/base/packages/nextjs/.gitignore.template.mjs
Due: none

update TEAMPLTE-FILE example
  contributors/TEMPLATE-FILES.md
Due: lint, format

remove "also" from last info about .gitignore
  contributors/TEMPLATE-FILES.md
Due: lint, format

log file name directly which doesn't accepts args
  src/dev/create-extension.ts
Due: type-check, lint, format

update changeset
  .changeset/tough-rooms-mate.md
Due: lint, format

Add drizzle-neon as curated extension (#351)
  .changeset/tough-rooms-mate.md
  contributors/TEMPLATE-FILES.md
  src/dev/create-extension.ts
  src/extensions.json
  templates/base/.gitignore.template.mjs
  templates/base/packages/nextjs/.gitignore.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/.gitignore.template.mjs
  templates/solidity-frameworks/hardhat/packages/hardhat/.gitignore.template.mjs
Due: type-check, lint, format

add changeset
  .changeset/smart-pillows-draw.md
Due: lint, format

remove file from utils/index.ts
  templates/base/packages/nextjs/utils/scaffold-eth/index.ts
Due: lint, format

feat: validate foundry version
  src/cli.ts
  src/utils/parse-arguments-into-options.ts
  src/utils/system-validation.ts
Due: type-check, lint, format

(temp): use updated extension branch
  .github/workflows/lint-instances.yml
Due: none
