Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

fix(foundry): VerifyAll supports linked libs; enable optimizer (#414)
  .changeset/huge-mirrors-drum.md
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol
Due: lint, format

chore: remove custom variant duplicate
  templates/base/packages/nextjs/styles/globals.css.template.mjs
Due: none

chore: add changeset for backmerge
  .changeset/backmerge-30-04-26.md
Due: lint, format

Chore: remove custom variant duplicate (#418)
  templates/base/packages/nextjs/styles/globals.css.template.mjs
Due: none

feat: yarn v4
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Due: format

chore: changeset
  .changeset/big-ducks-pump.md
Due: lint, format

feat: up deps
  package.json
  src/utils/external-extensions.ts
  yarn.lock
Due: type-check, lint, format

chore: changeset
  .changeset/green-weeks-dig.md
Due: lint, format

fix: generateTsAbis
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

chore: changeset
  .changeset/foundry-generate-ts-abis-mismatched-names.md
Due: lint, format

new Alchemy key (cherry-pick from SE-2 #1287)
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/.env.example
  templates/solidity-frameworks/foundry/packages/foundry/.env.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/checkAccountBalance.js
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: lint, format

chore: add changeset for backmerge
  .changeset/new-alchemy-key.md
Due: lint, format

backmerge 18-05-26 (#424)
  .changeset/new-alchemy-key.md
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/.env.example
  templates/solidity-frameworks/foundry/packages/foundry/.env.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/checkAccountBalance.js
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: lint, format

fix(foundry): resolve ABI when source file name differs from contract name (#423)
  .changeset/foundry-generate-ts-abis-mismatched-names.md
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-20-05-26.md
Due: lint, format

fix: remove defaultSemverRangePrefix
  .yarnrc.yml
Due: none

fix(nextjs-template): stop excluding contracts/ from format script
  templates/base/packages/nextjs/package.json
Due: format

chore: add hardhat v3 to changeset, bump CI node to lts/* for hardhat v3
  .changeset/backmerge-20-05-26.md
  .github/workflows/lint-instances.yml
Due: lint, format

fix: update for sre extensions
  templates/example-contracts/hardhat/packages/hardhat/deploy/00_deploy_your_contract.ts
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
  templates/solidity-frameworks/hardhat/packages/hardhat/rocketh/deploy.ts
Due: lint, format

Deps: next 15 → 16 and minor frontend updates (#1280)
  templates/base/.lintstagedrc.js
  templates/base/packages/nextjs/.prettierrc.js
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
  templates/base/packages/nextjs/components/ThemeProvider.tsx
  templates/base/packages/nextjs/components/scaffold-eth/FaucetButton.tsx
  templates/base/packages/nextjs/eslint.config.mjs
  templates/base/packages/nextjs/next-env.d.ts
  templates/base/packages/nextjs/next.config.ts.template.mjs
  templates/base/packages/nextjs/package.json
  templates/base/packages/nextjs/postcss.config.js
  templates/base/packages/nextjs/tsconfig.json.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/contract.ts
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-27-05-26.md
Due: lint, format

fix(nextjs-template): stop excluding contracts/ from format script
  .changeset/fix-format-include-contracts.md
  templates/base/packages/nextjs/package.json
Due: lint, format

fix: latest version
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: format

fix: latest versions
  package.json
  yarn.lock
Due: format

chore: add changeset for backmerge
  .changeset/backmerge-hhv3.md
Due: lint, format

chore: fix gh actions
  .github/workflows/lint-instances.yml
Due: none

point to example branch in gh-actions
  .github/workflows/lint-instances.yml
Due: none

format the changelog.md
  CHANGELOG.md
Due: lint, format

docs: deprecate create-eth extensions
  CONTRIBUTING.md
  contributors/DEVELOPER-GUIDE.md
  contributors/TEMPLATE-FILES.md
  contributors/TEMPLATING.md
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

ci: drop extension variants from lint-instances
  .github/workflows/lint-instances.yml
Due: none

chore: add changeset for backmerge
  .changeset/backmerge-09-06-26.md
Due: lint, format

fix: foundry abi formatting
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

fix: foundry abi formatting (#437)
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

chore: add #1303 to backmerge changeset
  .changeset/backmerge-09-06-26.md
Due: lint, format

test: add node:test suites for pure CLI helpers
  eslint.config.js
  package.json
  src/extensions/challenges.ts
  src/extensions/create-eth-extensions.ts
  src/extensions/index.ts
  src/extensions/organizations.ts
  src/templates-utils.test.ts
  src/test/register.mjs
  src/test/ts-extension-resolver.mjs
  src/utils/external-extensions.test.ts
  src/utils/external-extensions.ts
  src/utils/validate-name.test.ts
Due: type-check, lint, format

refactor: small fixes and cleanups (B1-B8)
  src/declarations/merge-packages.d.ts
  src/tasks/copy-template-files.ts
  src/tasks/create-project-directory.ts
  src/tasks/install-packages.ts
  src/tasks/prettier-format.ts
  src/types.ts
  src/utils/merge-package-json.ts
Due: type-check, lint, format

refactor: restructure copy-template-files (A1-A3)
  src/tasks/copy-template-files.ts
Due: type-check, lint, format

Path conditions:
  type-check: any of: src/**/*.ts
  lint: any of: *.{js,ts,md}
  format: any of: *.{js,ts,md,json}
