Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

up husky version
  templates/base/package.json
Due: format

move the provider by up one level
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
Due: none

add changeset
  .changeset/hip-deers-search.md
Due: lint, format

update changeset
  .changeset/soft-shrimps-pull.md
Due: lint, format

add manifes, tsconfig and getMetadata template examples
  contributors/TEMPLATE-FILES.md
Due: lint, format

add changeset
  .changeset/cuddly-rabbits-complain.md
Due: lint, format

fix spelling
  .changeset/cuddly-rabbits-complain.md
Due: lint, format

remove --no-commit flag
  src/tasks/create-first-git-commit.ts
Due: type-check, lint, format

add changeset
  .changeset/rude-walls-lie.md
Due: lint, format

feat: updated scaffold template and args
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/solidity-frameworks/foundry/packages/nextjs/scaffold.config.ts.args.mjs
  templates/solidity-frameworks/hardhat/packages/nextjs/scaffold.config.ts.args.mjs
Due: none

fix: move coments to type
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

fix: extra config type
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

use as const as satisfies while assigning the type
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

feat: deepmerge respects keys order
  templates/utils.js
Due: lint, format

format changelog
  CHANGELOG.md
Due: lint, format

feat: comments in stringify
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/utils.js
Due: lint, format

feat: deep level comments
  templates/utils.js
Due: lint, format

feat: add rpcOverrides and handling comments inside empty object
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/utils.js
Due: lint, format

feat: format utils file
  templates/utils.js
Due: lint, format

chore: return early if no comments
  templates/utils.js
Due: lint, format

update action to skip PR relase
  .github/workflows/release.yml
Due: none

move skip block above
  .github/workflows/release.yml
Due: none

chore: move reges to variables
  templates/utils.js
Due: lint, format

Scaffold config new template (#227)
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/solidity-frameworks/foundry/packages/nextjs/scaffold.config.ts.args.mjs
  templates/solidity-frameworks/hardhat/packages/nextjs/scaffold.config.ts.args.mjs
  templates/utils.js
Due: lint, format

feat: comments for hardhat config
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: none

feat: update tailwind config template
  templates/base/packages/nextjs/tailwind.config.js.template.mjs
Due: none

feat: comments for hardhat config (#232)
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
Due: none

merge origin/main
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
  templates/base/packages/nextjs/app/blockexplorer/transaction/[txHash]/page.tsx
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/hooks/scaffold-eth/useOutsideClick.ts
  templates/base/packages/nextjs/hooks/scaffold-eth/useTransactor.tsx
  templates/base/packages/nextjs/next-env.d.ts
  templates/base/packages/nextjs/next.config.ts.template.mjs
  templates/base/packages/nextjs/package.json
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx
  templates/base/packages/nextjs/utils/scaffold-eth/notification.tsx
  templates/solidity-frameworks/foundry/package.json
  templates/solidity-frameworks/foundry/packages/foundry/.env.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/package.json
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/ListAccount.js
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/checkAccountBalance.js
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateKeystore.js
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/importAccount.js
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/listKeystores.js
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/parseArgs.js
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/selectOrCreateKeystore.js
Due: lint, format

update beta action
  .github/workflows/beta.yml
Due: none

user Version packages to check for release PR in beta yml
  .github/workflows/beta.yml
Due: none

move type just above moduel.exports
  templates/base/packages/nextjs/tailwind.config.js.template.mjs
Due: none

Update tailwind config template (#233)
  templates/base/packages/nextjs/tailwind.config.js.template.mjs
Due: none

feat: update tsconfig template
  templates/base/packages/nextjs/tsconfig.json.template.mjs
Due: none

convert hardhat tsconfig to template also
  templates/solidity-frameworks/hardhat/packages/hardhat/tsconfig.json
  templates/solidity-frameworks/hardhat/packages/hardhat/tsconfig.json.template.mjs
Due: format

add a note about .json file in TEMPLATING.md file
  contributors/TEMPLATING.md
Due: lint, format

Update tsconfig template (#239)
  contributors/TEMPLATING.md
  templates/base/packages/nextjs/tsconfig.json.template.mjs
  templates/solidity-frameworks/hardhat/packages/hardhat/tsconfig.json
  templates/solidity-frameworks/hardhat/packages/hardhat/tsconfig.json.template.mjs
Due: lint, format

do strict equal insted of contains
  .github/workflows/release.yml
Due: none

format changelot
  CHANGELOG.md
Due: lint, format

inline next config with beta example
  templates/base/packages/nextjs/next.config.ts.template.mjs
Due: none

add page and README
  templates/base/README.md.template.mjs
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/next.config.ts.template.mjs
Due: none

Path conditions:
  type-check: any of: src/**/*.ts
  lint: any of: *.{js,ts,md}
  format: any of: *.{js,ts,md,json}
