Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "src/**/*.ts"
      run: yarn type-check
    lint:
      glob: "*.{js,ts,md}"
      run: yarn eslint --fix {staged_files}
    format:
      glob: "*.{js,ts,md,json}"
      run: |
        yarn prettier --write {staged_files}
        git add {staged_files}

feat: update dependencies and use @inquirer/prompts
  package.json
  src/utils/prompt-for-missing-options.ts
  yarn.lock
Due: type-check, lint, format

(beta) backmerge main into beta (#280)
  .changeset/new-hounds-joke.md
  .changeset/olive-carrots-learn.md
  .changeset/twenty-avocados-share.md
  CHANGELOG.md
  contributors/TEMPLATE-FILES.md
  package.json
  src/cli.ts
  src/dev/create-extension.ts
  src/extensions.json
  src/utils/system-validation.ts
  templates/base/packages/nextjs/app/blockexplorer/_components/AddressComponent.tsx
  templates/base/packages/nextjs/app/blockexplorer/_components/ContractTabs.tsx
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
  templates/base/packages/nextjs/types/abitype/abi.d.ts.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
  yarn.lock
Due: type-check, lint, format

update changeset
  CHANGELOG.md
Due: lint, format

change version to .3
  CHANGELOG.md
  package.json
Due: lint, format

create migration script
  contributors/MIGRATION.md
  package.json
  src/dev/migrate-to-beta.ts
  src/dev/rollup.config.js
Due: type-check, lint, format

cli tweaks
  contributors/MIGRATION.md
  src/dev/migrate-to-beta.ts
Due: type-check, lint, format

Add filename to args error logs (#279)
  templates/utils.js
Due: lint, format

Add stablecoins challenge
  src/extensions.json
Due: format

feat: check if args file exists, change log messages
  src/dev/create-extension.ts
Due: type-check, lint, format

fix: reference args file
  src/dev/create-extension.ts
Due: type-check, lint, format

keep args comment above template file and tweak wording comment for template comment
  src/dev/create-extension.ts
Due: type-check, lint, format

Auto create args files (#274)
  src/dev/create-extension.ts
Due: type-check, lint, format

update changeset manually and fix version
  CHANGELOG.md
  package.json
Due: lint, format

feat: up burner-connector
  templates/base/packages/nextjs/package.json
Due: format

chore: changeset
  .changeset/flat-items-sell.md
Due: lint, format

add changeset
  .changeset/red-eagles-accept.md
Due: lint, format

Github: Fetch solidity framework folder correctly for default branch
  src/utils/external-extensions.ts
Due: type-check, lint, format

Add changeset
  .changeset/modern-rabbits-knock.md
Due: lint, format

fix foundry .env.example
  templates/solidity-frameworks/foundry/packages/foundry/.env.example
Due: none

add changeset
  .changeset/light-cars-drive.md
Due: lint, format

feat: files priority
  src/dev/migrate-to-beta.ts
Due: type-check, lint, format

feat: files priority (#295)
  src/dev/migrate-to-beta.ts
Due: type-check, lint, format

update libs to include node_moduels in foundry.toml
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
Due: none

templatise remappings.txt
  templates/solidity-frameworks/foundry/packages/foundry/remappings.txt
  templates/solidity-frameworks/foundry/packages/foundry/remappings.txt.template.mjs
Due: none

add changeset
  .changeset/smooth-deers-beg.md
Due: lint, format

(beta) foundry: allow extensions to add library (#297)
  .changeset/smooth-deers-beg.md
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/remappings.txt
  templates/solidity-frameworks/foundry/packages/foundry/remappings.txt.template.mjs
Due: lint, format

update changetset (set current version)
  .changeset/pre.json
  CHANGELOG.md
Due: lint, format

fix: providers
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/composeProviders.tsx
Due: none

fix: indentation
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
Due: none

fix: providers (#302)
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/composeProviders.tsx
Due: none

remove onchainkit extension
  src/extensions.json
Due: format

remove onchainkit extension (#303)
  src/extensions.json
Due: format

fix changeset
  .changeset/gentle-eagles-care.md
  .changeset/light-cars-drive.md
  CHANGELOG.md
Due: lint, format

add changeset for fix provider
  .changeset/soft-pans-drum.md
Due: lint, format

add changeset
  .changeset/shiny-eagles-greet.md
Due: lint, format

remove beta.yml file
  .github/workflows/beta.yml
Due: none

exit beta
  .changeset/pre.json
Due: format

update CHANGELOG.MD
  CHANGELOG.md
Due: lint, format

chore: up versions
  package.json
  yarn.lock
Due: format
