Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "src/**/*.ts"
      run: yarn type-check
    lint:
      glob: "*.{js,ts,md}"
      run: yarn eslint --fix {staged_files}
    format:
      glob: "*.{js,ts,md,json}"
      run: |
        yarn prettier --write {staged_files}
        git add {staged_files}

fix: verifyAll contract
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol
Due: none

fix: remove redundant try catch
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol
Due: none

add changeset
  .changeset/real-garlics-cheer.md
Due: lint, format

feat: lint-instances
  .github/workflows/lint-instances.yml
Due: none

chore: dummy git user for foundry
  .github/workflows/lint-instances.yml
Due: none

fix: foundry
  .github/workflows/lint-instances.yml
  .yarnrc.yml
  package.json
  yarn.lock
Due: format

Show create-eth version on initial commit
  src/tasks/create-first-git-commit.ts
Due: type-check, lint, format

upadte changeset
  .changeset/twelve-berries-joke.md
  CHANGELOG.md
Due: lint, format

feat: add extensions configs
  .github/workflows/lint-instances.yml
Due: none

fix: push branch
  .github/workflows/lint-instances.yml
Due: none

feat: hardhat and foundry lint
  .github/workflows/lint-instances.yml
Due: none

fix: dev -> build
  .github/workflows/lint-instances.yml
Due: none

fix: extensions descriptions
  src/extensions.json
Due: format

exit with code 1 on error
  src/cli.ts
Due: lint, format

remove skip logic
  .github/workflows/release.yml
Due: none

fix: remove as string
  src/utils/prompt-for-missing-options.ts
Due: type-check, lint, format

fix: enables -> provides
  src/extensions.json
Due: format

update numbered challenges to not numbered
  src/extensions.json
Due: format

challenge-simple-nft-example
  src/extensions.json
Due: format

Update extensions.json
  src/extensions.json
Due: format

Update CHANGELOG.md
  CHANGELOG.md
Due: lint, format

feat: custom root scripts for solidity frameworks
  contributors/THIRD-PARTY-EXTENSION.md
  src/tasks/copy-template-files.ts
Due: type-check, lint, format

update generateTsAbis for foundry
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

update changelog
  CHANGELOG.md
Due: lint, format

test initial iteration
  src/tasks/copy-template-files.ts
  templates/utils.js
Due: type-check, lint, format

feat: pass solidity framework to all the template files
  src/tasks/copy-template-files.ts
  src/utils/consts.ts
  templates/utils.js
Due: type-check, lint, format

fix: remove old solidityFramework vars
  templates/base/.cursor/rules/scaffold-eth.mdc.template.mjs
  templates/base/README.md.template.mjs
  templates/solidity-frameworks/foundry/.cursor/rules/scaffold-eth.mdc.args.mjs
  templates/solidity-frameworks/foundry/README.md.args.mjs
  templates/solidity-frameworks/hardhat/.cursor/rules/scaffold-eth.mdc.args.mjs
  templates/solidity-frameworks/hardhat/README.md.args.mjs
  templates/utils.js
Due: lint, format

fix: suggest to use parent folder for instances
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

fix: suggest to use parent folder for instances (#332)
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

add changeset
  .changeset/quick-jeans-stop.md
Due: lint, format

add porto to extension list
  src/extensions.json
Due: format

fix: links
  .changeset/quick-jeans-stop.md
Due: lint, format

feat: pagetsx sf
  templates/base/packages/nextjs/app/page.tsx.template.mjs
Due: none

fix: articles
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

fix: lint foundry instance
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
Due: none

try 1.3.0
  .github/workflows/lint-instances.yml
Due: none

add v before the version
  .github/workflows/lint-instances.yml
Due: none

fix: articles (#336)
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

Revert "fix: lint foundry instance"
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
Due: none
