Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

(temp): test all pr created brnaches
  .github/workflows/lint-instances.yml
Due: none

ignore failed one
  .github/workflows/lint-instances.yml
Due: none

exclude erc-20 and 721 without running solididy framework
  .github/workflows/lint-instances.yml
Due: none

checkout lint-instance.yml back to main
  .github/workflows/lint-instances.yml
Due: none

change version bump to major
  .changeset/smart-pillows-draw.md
Due: lint, format

fix: error message
  src/utils/system-validation.ts
Due: type-check, lint, format

feat: update error handling
  src/utils/system-validation.ts
Due: type-check, lint, format

fix: gh actions foundry version
  .github/workflows/lint-instances.yml
Due: none

update changeset
  .changeset/smart-pillows-draw.md
Due: lint, format

format changeset
  CHANGELOG.md
Due: lint, format

divide extensions into challenges, and create-eth-extensions repo
  src/extensions/challenges.json
  src/extensions/create-eth-extensions.json
  src/extensions/index.ts
  src/utils/external-extensions.ts
Due: type-check, lint, format

create json script which exposes extensions to extension.json
  contributors/THIRD-PARTY-EXTENSION.md
  extensions.json
  package.json
  rollup.config.js
  src/extensions.json
  src/extensions/challenges.json
  src/extensions/challenges.ts
  src/extensions/create-eth-extensions.json
  src/extensions/create-eth-extensions.ts
  src/extensions/generate-extension-json.ts
  src/extensions/index.ts
  src/extensions/organizations.ts
  src/extensions/types.ts
  src/utils/external-extensions.ts
Due: type-check, lint, format

known => curated extension in THID-PARYT-EXTENSION
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

allow create2 transaction type
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

remove legacy flag
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
Due: none

add changeset
  .changeset/dark-icons-like.md
Due: lint, format

remove installCommand key
  contributors/THIRD-PARTY-EXTENSION.md
  src/extensions.json
  src/extensions/organizations.ts
  src/extensions/types.ts
Due: type-check, lint, format

remove installCommand from markdown
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

add zk voting challenge
  src/extensions.json
Due: format

(foundry): remove `--legacy` flag & allow create2 transcations (#358)
  .changeset/dark-icons-like.md
  src/extensions.json
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

Change SpeedRunEthereum to Speedrun Ethereum
  src/extensions.json
Due: format

add changset
  .changeset/fresh-carrots-run.md
Due: lint, format

Validate foundry version (#356)
  .changeset/fresh-carrots-run.md
  .github/workflows/lint-instances.yml
  src/cli.ts
  src/utils/parse-arguments-into-options.ts
  src/utils/system-validation.ts
Due: type-check, lint, format

rename version => createEthVersion
  contributors/THIRD-PARTY-EXTENSION.md
  src/extensions/types.ts
Due: type-check, lint, format

remove the extra generation step
  contributors/THIRD-PARTY-EXTENSION.md
  extensions.json
  package.json
  rollup.config.js
  src/extensions.json
  src/extensions/generate-extension-json.ts
Due: type-check, lint, format

remove note
  contributors/THIRD-PARTY-EXTENSION.md
Due: lint, format

better structuring of extensions (#357)
  contributors/THIRD-PARTY-EXTENSION.md
  src/extensions.json
  src/extensions/challenges.ts
  src/extensions/create-eth-extensions.ts
  src/extensions/index.ts
  src/extensions/organizations.ts
  src/extensions/types.ts
  src/utils/external-extensions.ts
Due: type-check, lint, format

fix: params typo
  templates/utils.js
Due: lint, format

update metamask extension list
  src/extensions/organizations.ts
Due: type-check, lint, format

feat: prompt to proceed with current version
  src/tasks/create-first-git-commit.ts
  src/types.ts
  src/utils/external-extensions.ts
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

feat: allow to switch create-eth version
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

backmerge scaffold-eth cursor rules
  templates/base/.cursor/rules/scaffold-eth.mdc.template.mjs
Due: none

add changeset
  .changeset/heavy-poets-watch.md
Due: lint, format

Change SpeedRunEthereum to Speedrun Ethereum (#361)
  src/extensions/challenges.ts
Due: type-check, lint, format

update metamask extension list (#362)
  src/extensions/organizations.ts
Due: type-check, lint, format

backmerge scaffold-eth cursor rules (#365)
  .changeset/heavy-poets-watch.md
  templates/base/.cursor/rules/scaffold-eth.mdc.template.mjs
Due: lint, format

fix: cancel message
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

feat: use global sf for blockexplorer address page
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
  templates/solidity-frameworks/foundry/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.args.mjs
  templates/solidity-frameworks/hardhat/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.args.mjs
Due: none

fix: -s none
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
Due: none

Path conditions:
  type-check: any of: src/**/*.ts
  lint: any of: *.{js,ts,md}
  format: any of: *.{js,ts,md,json}
