Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "src/**/*.ts"
      run: yarn type-check
    lint:
      glob: "*.{js,ts,md}"
      run: yarn eslint --fix {staged_files}
    format:
      glob: "*.{js,ts,md,json}"
      run: |
        yarn prettier --write {staged_files}
        git add {staged_files}

refactor: split arg parsing concerns + dedupe global args (A4, A6)
  src/templates-utils.test.ts
  src/utils/parse-arguments-into-options.ts
  src/utils/parse-cli-args.test.ts
  src/utils/parse-cli-args.ts
  templates/utils.js
Due: type-check, lint, format

chore: clean up stale TODO comments
  src/tasks/prettier-format.ts
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

fix: restore isConfigRegex skip + declare node>=22.6 engines
  package.json
  src/tasks/copy-template-files.ts
Due: type-check, lint, format

Upgrade dependencies (#422)
  .changeset/green-weeks-dig.md
  package.json
  src/utils/external-extensions.ts
  yarn.lock
Due: type-check, lint, format

Yarn v4 (#421)
  .changeset/big-ducks-pump.md
  .changeset/green-weeks-dig.md
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  src/utils/external-extensions.ts
  yarn.lock
Due: type-check, lint, format

chore: add changeset for backmerge
  .changeset/backmerge-02-07-26.md
Due: lint, format

backmerge 02-07-26 (#441)
  .changeset/backmerge-02-07-26.md
  templates/base/packages/nextjs/app/blockexplorer/_components/ContractTabs.tsx
  templates/base/packages/nextjs/app/blockexplorer/_components/PaginationButton.tsx
  templates/base/packages/nextjs/app/blockexplorer/page.tsx
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/components/SwitchTheme.tsx
  templates/base/packages/nextjs/hooks/scaffold-eth/useContractLogs.ts
  templates/base/packages/nextjs/hooks/scaffold-eth/useFetchBlocks.ts
Due: lint, format

fix: pin @coinbase/cdp-sdk to 1.52.0 to avoid @x402 module-not-found (#1310)
  package.json
  yarn.lock
Due: format

feat: web3 deps update (#1281)
  packages/nextjs/app/blockexplorer/_components/ContractTabs.tsx
  packages/nextjs/app/blockexplorer/_components/SearchBar.tsx
  packages/nextjs/components/scaffold-eth/RainbowKitCustomConnectButton/AddressInfoDropdown.tsx
  packages/nextjs/components/scaffold-eth/RainbowKitCustomConnectButton/WrongNetworkDropdown.tsx
  packages/nextjs/eslint.config.mjs
  packages/nextjs/hooks/scaffold-eth/useDeployedContractInfo.ts
  packages/nextjs/hooks/scaffold-eth/useScaffoldReadContract.ts
  packages/nextjs/package.json
  packages/nextjs/services/web3/wagmiConnectors.tsx
  yarn.lock
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-29-07-26.md
Due: lint, format
