Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

addd x402 extension
  src/extensions/create-eth-extensions.ts
Due: type-check, lint, format

add changeset
  .changeset/huge-trains-yell.md
Due: lint, format

update description
  src/extensions/create-eth-extensions.ts
Due: type-check, lint, format

add x402 extension (#366)
  .changeset/huge-trains-yell.md
  src/extensions/create-eth-extensions.ts
Due: type-check, lint, format

Possibility to pass global variables (#350)
  contributors/TEMPLATING.md
  src/tasks/copy-template-files.ts
  src/utils/consts.ts
  templates/base/.cursor/rules/scaffold-eth.mdc.template.mjs
  templates/base/README.md.template.mjs
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
  templates/solidity-frameworks/foundry/.cursor/rules/scaffold-eth.mdc.args.mjs
  templates/solidity-frameworks/foundry/README.md.args.mjs
  templates/solidity-frameworks/foundry/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.args.mjs
  templates/solidity-frameworks/hardhat/.cursor/rules/scaffold-eth.mdc.args.mjs
  templates/solidity-frameworks/hardhat/README.md.args.mjs
  templates/solidity-frameworks/hardhat/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.args.mjs
  templates/utils.js
Due: type-check, lint, format

Allow to switch create-eth version for extensions (#363)
  src/tasks/create-first-git-commit.ts
  src/types.ts
  src/utils/external-extensions.ts
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

fix wagmiConfig template
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx.template.mjs
Due: none

at react-native-async-storage
  templates/base/packages/nextjs/package.json
Due: format

add changeset
  .changeset/short-windows-arrive.md
Due: lint, format

add permisison to have oidc flow
  .github/workflows/release.yml
Due: none

Upgrade React to 19.0.3 (#1214)
  packages/nextjs/next-env.d.ts
  packages/nextjs/package.json
  yarn.lock
Due: lint, format

add permisison to have oidc flow (#370)
  .github/workflows/release.yml
Due: none

add changeset
  .changeset/ten-pugs-press.md
Due: lint, format

Merge pull request #369 from scaffold-eth/changeset-backmerge-8-12-25
  .changeset/short-windows-arrive.md
Due: lint, format

update actions to use latest version
  .github/workflows/release.yml
Due: none

update actions to use latest version (#373)
  .github/workflows/release.yml
Due: none

change staking to crowdfunding, add oracles
  src/extensions/challenges.ts
Due: type-check, lint, format

add siwe to orgs extension
  src/extensions/organizations.ts
Due: type-check, lint, format

add changeset
  .changeset/few-geese-smash.md
Due: lint, format

change staking to crowdfunding, add oracle challenge (#374)
  .changeset/few-geese-smash.md
  src/extensions/challenges.ts
Due: type-check, lint, format

add siwe to orgs extension (#375)
  src/extensions/organizations.ts
Due: type-check, lint, format

add efp extension to org
  src/extensions/organizations.ts
Due: type-check, lint, format

add changeset
  .changeset/deep-parks-take.md
Due: lint, format

add efp extension to org (#378)
  .changeset/deep-parks-take.md
  src/extensions/organizations.ts
Due: type-check, lint, format

up solidity version and scaffold-ui (#1218)
  packages/hardhat/hardhat.config.ts
  packages/hardhat/package.json
  packages/nextjs/package.json
  yarn.lock
Due: lint, format

add changeset
  .changeset/four-toes-stay.md
Due: lint, format

fix the version number for changeset action
  .github/workflows/release.yml
Due: none

update release workflow to use GitHub API for commit mode
  .github/workflows/release.yml
Due: none

fix changeset action fail (#381)
  .github/workflows/release.yml
Due: none

feat: add --project and --name CLI flags for setting project name
  src/utils/parse-arguments-into-options.ts
  src/utils/show-help-message.ts
Due: type-check, lint, format

feat: reduce default pollingInterval from 30000ms to 3000ms
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

add agents.md (#1221)
  .agents/agents/grumpy-carlos-code-reviewer.md
  .agents/skills/defi-protocol-templates/SKILL.md
  .agents/skills/solidity-security/SKILL.md
  .claude/agents/grumpy-carlos-code-reviewer.md
  .claude/skills/defi-protocol-templates
  .claude/skills/solidity-security
  .cursor/agents/grumpy-carlos-code-reviewer.md
  .cursor/mcp.json
  .cursor/rules/scaffold-eth.mdc
  .cursor/skills/defi-protocol-templates
  .cursor/skills/solidity-security
  .mcp.json
  .opencode/agents/grumpy-carlos-code-reviewer.md
  .opencode/skills/defi-protocol-templates
  .opencode/skills/solidity-security
  AGENTS.md
  CLAUDE.md
  README.md
  opencode.json
Due: lint, format

Reduce polling interval from 30s to 3s (#1224)
  packages/nextjs/scaffold.config.ts
Due: lint, format

add changeset
  .changeset/fruity-insects-dress.md
Due: lint, format

fix: remove executable bit from bin file for GitHub API compatibility
  bin/create-dapp-se2.js
Due: lint, format

fix: update file permissions for create-dapp-se2.js
  bin/create-dapp-se2.js
Due: lint, format

Revert "fix changeset action fail (#381)"
  .github/workflows/release.yml
Due: none

Revert "fix changeset action fail (#381)" (#388)
  .github/workflows/release.yml
Due: none

fix: handle symlinks in dev mode linking
  src/utils/link.ts
Due: type-check, lint, format

Path conditions:
  type-check: any of: src/**/*.ts
  lint: any of: *.{js,ts,md}
  format: any of: *.{js,ts,md,json}
