Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

fix: handle symlinks in dev mode linking (#390)
  src/utils/link.ts
Due: type-check, lint, format

temaplatise the AGENTS.md file
  templates/base/AGENTS.md.template.mjs
Due: none

add AGENTS.md to TEMPLATING-FILES regsiter
  contributors/TEMPLATE-FILES.md
Due: lint, format

add changeset
  .changeset/silly-carrots-hide.md
Due: lint, format

templatise agents md (#391)
  .changeset/silly-carrots-hide.md
  contributors/TEMPLATE-FILES.md
  templates/base/AGENTS.md.template.mjs
Due: lint, format

add skill package (#1235)
  .agents/skills/eip-5792/SKILL.md
  .agents/skills/erc-20/SKILL.md
  .agents/skills/erc-721/SKILL.md
  .agents/skills/ponder/SKILL.md
  AGENTS.md
Due: lint, format

Add changeset for backmerge
  .changeset/backmerge-skills-package.md
Due: lint, format

Remove auto-created changeset
  .changeset/backmerge-skills-package.md
Due: lint, format

add changeset
  .changeset/cuddly-olives-join.md
Due: lint, format

Backmerge upstream-main (2026-02-26): add skills package (#394)
  .changeset/cuddly-olives-join.md
  templates/base/.agents/skills/eip-5792/SKILL.md
  templates/base/.agents/skills/erc-20/SKILL.md
  templates/base/.agents/skills/erc-721/SKILL.md
  templates/base/.agents/skills/ponder/SKILL.md
  templates/base/AGENTS.md.template.mjs
Due: lint, format

Add EIP-712 and SIWE agent skills (#1237)
  .agents/skills/eip-5792/SKILL.md
  .agents/skills/eip-712/SKILL.md
  .agents/skills/erc-20/SKILL.md
  .agents/skills/erc-721/SKILL.md
  .agents/skills/ponder/SKILL.md
  .agents/skills/siwe/SKILL.md
  AGENTS.md
Due: lint, format

add creat-eeth skill
  .agent/skills/create-eth-backmerge
  .agents/skills/create-eth-backmerge/SKILL.md
  .claude/skills/create-eth-backmerge
  skills-lock.json
Due: lint, format

chore: add changeset for backmerge
  .changeset/eip712-siwe-skills.md
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-upstream-2026-02-27.md
Due: lint, format

update existing skill files to match upstream changes from SE-2 #1237
  templates/base/.agents/skills/eip-5792/SKILL.md
  templates/base/.agents/skills/erc-20/SKILL.md
  templates/base/.agents/skills/erc-721/SKILL.md
  templates/base/.agents/skills/ponder/SKILL.md
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-04-03-26.md
Due: lint, format

fix: use plain string for burnerWalletMode default
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

handle the case if the user uses dot
  src/tasks/create-project-directory.ts
  src/utils/render-outro-message.ts
Due: type-check, lint, format

add changeset
  .changeset/swift-years-mate.md
Due: lint, format

fix: support scaffolding into current directory with `.` (#403)
  .changeset/swift-years-mate.md
  src/tasks/create-project-directory.ts
  src/utils/render-outro-message.ts
Due: type-check, lint, format

chore: add changeset for backmerge
  .changeset/cruel-bobcats-like.md
Due: lint, format

fix: escape backticks in AGENTS.md template literal
  templates/base/AGENTS.md.template.mjs
Due: none

add changeset for beta
  CHANGELOG.md
  package.json
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-14-04-26.md
Due: lint, format

chore: update default foundry Alchemy key
  .changeset/backmerge-14-04-26.md
  templates/solidity-frameworks/foundry/packages/foundry/.env.example
  templates/solidity-frameworks/foundry/packages/foundry/.env.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/checkAccountBalance.js
Due: lint, format

new beta
  .yarnrc
  .yarnrc.yml
  CHANGELOG.md
  package.json
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-16-04-26.md
Due: lint, format

fix: VerifyAll fails when contract name differs from source file name
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol
Due: none

add changeset
  .changeset/slow-files-pay.md
Due: lint, format

fix: VerifyAll fails when contract name differs from source file name (#411)
  .changeset/slow-files-pay.md
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol
Due: lint, format

chore: add changeset for backmerge
  .changeset/backmerge-21-04-26.md
Due: lint, format

fix: verifyAll
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol
Due: none

chore: changeset
  .changeset/huge-mirrors-drum.md
Due: lint, format

fix: foundry block explorer contract details page bytecode/opcodes
  .changeset/fix-foundry-blockexplorer-bytecode.md
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
Due: lint, format

chore: update changeset for #1274
  .changeset/backmerge-21-04-26.md
Due: lint, format

fix: scan foundry out/ by source file when filename != contract name
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
Due: none

fix: try default foundry artifact path before scanning
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
Due: none

fix: foundry block explorer contract details bytecode/opcodes (#415)
  .changeset/fix-foundry-blockexplorer-bytecode.md
  templates/base/packages/nextjs/app/blockexplorer/address/[address]/page.tsx.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
Due: lint, format

chore: update changeset for #1263
  .changeset/backmerge-21-04-26.md
Due: lint, format

Path conditions:
  type-check: any of: src/**/*.ts
  lint: any of: *.{js,ts,md}
  format: any of: *.{js,ts,md,json}
