Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "src/**/*.ts"
      run: yarn type-check
    lint:
      glob: "*.{js,ts,md}"
      run: yarn eslint --fix {staged_files}
    format:
      glob: "*.{js,ts,md,json}"
      run: |
        yarn prettier --write {staged_files}
        git add {staged_files}

check if broadcast exist in generateTsAbis
  templates/solidity-frameworks/foundry/packages/foundry/scripts-js/generateTsAbis.js
Due: lint, format

fix: add possibility to add multiple vars
  templates/base/packages/nextjs/.env.example.template.mjs
Due: none

chore: changeset
  .changeset/famous-keys-drive.md
Due: lint, format

chore: move regex to const
  src/utils/parse-arguments-into-options.ts
  src/utils/prompt-for-missing-options.ts
Due: type-check, lint, format

chore: changeset
  .changeset/bright-pigs-deliver.md
Due: lint, format

feat: corresponding PR's info
  CONTRIBUTING.md
Due: lint, format

fix: template files
  CONTRIBUTING.md
  contributors/TEMPLATE-FILES.md
Due: lint, format

fix: lines order + add homepage template
  contributors/TEMPLATE-FILES.md
Due: lint, format

feat: extenralContracts, global styles, foundry makefile
  contributors/TEMPLATE-FILES.md
Due: lint, format

Add deconstructGithubUrl function
  src/utils/external-extensions.ts
Due: type-check, lint, format

feat: update readme
  README.md
Due: lint, format

remove deploy:verify from base package.json
  templates/solidity-frameworks/foundry/package.json
Due: format

add changeset
  .changeset/little-onions-hug.md
Due: lint, format

minor tweak to comment
  src/utils/external-extensions.ts
Due: type-check, lint, format

add changeset
  .changeset/two-points-cheer.md
Due: lint, format

fix: branch name
  contributors/TEMPLATE-FILES.md
Due: lint, format

fix next.config link in TEMPLATING.md
  contributors/TEMPLATING.md
Due: lint, format

fix nextjs.config.js template name
  contributors/TEMPLATING.md
Due: lint, format

remove --via-ir flag
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
Due: none

templatise foundry.toml file
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
Due: none

rename vars
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
Due: none

update overview link
  templates/solidity-frameworks/foundry/packages/foundry/foundry.toml.template.mjs
Due: none

feat: use validate-npm-name
  package.json
  src/utils/parse-arguments-into-options.ts
  src/utils/prompt-for-missing-options.ts
  src/utils/validate-name.ts
  yarn.lock
Due: type-check, lint, format

fix: lint
  src/utils/validate-name.ts
Due: type-check, lint, format

fix: return requirements and quick start
  README.md
Due: lint, format

chore: changeset
  .changeset/sharp-eels-bow.md
Due: lint, format

update TEMPLATE-FILES.md
  contributors/TEMPLATE-FILES.md
Due: lint, format

Do not copy/link .DS_Store files - macOS only
  src/utils/link.ts
Due: type-check, lint, format

Changeset
  .changeset/tall-fans-tap.md
Due: lint, format

remove changeset
  .changeset/tall-fans-tap.md
Due: lint, format

add changeset
  .changeset/blue-panthers-sing.md
Due: lint, format

update changeset
  .changeset/bright-pigs-deliver.md
Due: lint, format

fix: what's next
  README.md
Due: lint, format

feat: community section
  README.md
Due: lint, format

feat: add example extension to curated
  src/extensions.json
Due: format

Move website footer links to different sections
  README.md
Due: lint, format

fix BG labs link
  README.md
Due: lint, format

remove contribution links to SE-2 repo
  README.md
Due: lint, format

inital draft for template args rules
  contributors/TEMPLATING.md
Due: lint, format
