Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "src/**/*.ts"
      run: yarn type-check
    lint:
      glob: "*.{js,ts,md}"
      run: yarn eslint --fix {staged_files}
    format:
      glob: "*.{js,ts,md,json}"
      run: |
        yarn prettier --write {staged_files}
        git add {staged_files}

add eof
  templates/base/packages/nextjs/app/page.tsx.template.mjs
Due: none

change postContent => extraContent
  templates/base/README.md.template.mjs
Due: none

Create extension from scaffold-eth-2 repo/branch
  src/cli.ts
  src/dev/create-extension-common.ts
  src/dev/create-extension-from-scaffold-eth.ts
  src/dev/create-extension.ts
  src/from-scaffold-eth.ts
  src/main.ts
  src/tasks/copy-template-files.ts
  src/types.ts
  src/utils/common.ts
  src/utils/external-extensions.ts
  src/utils/parse-arguments-into-options.ts
  src/utils/prompt-for-missing-options.ts
Due: type-check, lint, format

(beta) update more file (#243)
  templates/base/README.md.template.mjs
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/next.config.ts.template.mjs
Due: none

learn more about args rules
  CHANGELOG.md
Due: lint, format

move fastify main dependency
  package.json
Due: format

add changeset
  .changeset/cold-rings-sing.md
Due: lint, format

(beta) fix fastify/deepMerge not found (#245)
  .changeset/cold-rings-sing.md
  package.json
Due: lint, format

update layout.tsx.template
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
Due: none

rename menuObjects => extraMenuLinksObjects
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
Due: none

update deepMerge to handle only array as concat
  templates/utils.js
Due: lint, format

imports => preContent in ScaffoldProvider nd Header
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
Due: none

imports => preConfigContent in all template files
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
Due: none

use stringify util in externalContracts
  templates/base/packages/nextjs/contracts/externalContracts.ts.template.mjs
Due: none

change renaming imports to preConfigContent
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/styles/globals.css.template.mjs
  templates/example-contracts/foundry/packages/foundry/script/Deploy.s.sol.args.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/Deploy.s.sol.template.mjs
Due: none

update getMeatadata to use new object merge syntax
  templates/base/packages/nextjs/utils/scaffold-eth/getMetadata.ts.template.mjs
Due: none

remove s fron preConfigContent in globalcss file
  templates/base/packages/nextjs/styles/globals.css.template.mjs
Due: none

use same logic while applying preConfigContent
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/Deploy.s.sol.template.mjs
Due: none

suggest the logic for preConfigContent
  contributors/TEMPLATING.md
Due: lint, format

fix: remove outdated dep
  templates/base/packages/nextjs/package.json
Due: format

add changeset
  .changeset/dry-readers-fry.md
Due: lint, format

add comment for use of deepMergeArray element
  templates/utils.js
Due: lint, format

for array concatenation use spread perator
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/utils.js
Due: lint, format

add changeset
  .changeset/nervous-cheetahs-deny.md
Due: lint, format

(beta) more upate to template files (#247)
  .changeset/nervous-cheetahs-deny.md
  contributors/TEMPLATING.md
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
  templates/base/packages/nextjs/app/page.tsx.template.mjs
  templates/base/packages/nextjs/components/Header.tsx.template.mjs
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/base/packages/nextjs/contracts/externalContracts.ts.template.mjs
  templates/base/packages/nextjs/styles/globals.css.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/getMetadata.ts.template.mjs
  templates/example-contracts/foundry/packages/foundry/script/Deploy.s.sol.args.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/Deploy.s.sol.template.mjs
Due: lint, format

add over-collateralized-lending challenge to extensions list
  src/extensions.json
Due: format

Update name of flagValue and branch
  src/extensions.json
Due: format

allow skipping local chain in scaffold.config in targetNetworks
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

use ComposedProviders for better extensibility in ScaffoldEthProvider
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/composeProviders.tsx
Due: none

add eof
  templates/base/packages/nextjs/utils/scaffold-eth/composeProviders.tsx
Due: none

allow configuring wagmi config
  templates/base/packages/nextjs/.prettierrc.js
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx.template.mjs
Due: lint, format

revert changes to prettierrc
  templates/base/packages/nextjs/.prettierrc.js
Due: lint, format

add eol
  templates/base/packages/nextjs/.prettierrc.js
Due: lint, format

move ProgressBar inside Compobsed providers
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
Due: none

use index for checking skipLocalChainInTargetNetworks flag
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

(beta) more updates (#253)
  templates/base/packages/nextjs/components/ScaffoldEthAppWithProviders.tsx.template.mjs
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx
  templates/base/packages/nextjs/services/web3/wagmiConfig.tsx.template.mjs
  templates/base/packages/nextjs/utils/scaffold-eth/composeProviders.tsx
Due: none

allow extension to be created from scaffold-eth repo
  src/dev/create-extension.ts
Due: type-check, lint, format

rename the flag to --from-commit
  src/dev/create-extension.ts
Due: type-check, lint, format

update globals.css.template arg variable
  templates/base/packages/nextjs/styles/globals.css.template.mjs
Due: none

update layout to add new font familys
  templates/base/packages/nextjs/app/layout.tsx.template.mjs
Due: none
