Repository scaffold-eth/create-eth: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: yarn type-check

lint:
  run: yarn eslint --fix {staged_files}

format:
  run: 'yarn prettier --write {staged_files}
  
    git add {staged_files}
  
    '

update explaination
  contributors/TEMPLATING.md
Due: lint, format

give names to examples
  contributors/TEMPLATING.md
Due: lint, format

Add sre challenges as curated extensions
  src/extensions.json
Due: format

Add changeset
  .changeset/brave-cats-swim.md
Due: lint, format

Add intro on each challenge extension description
  src/extensions.json
Due: format

Add changeset the right way
  .changeset/metal-mails-flash.md
Due: lint, format

Add SRE challenges extensions to curated list
  src/extensions.json
Due: format

Add changeset
  .changeset/rude-bugs-shout.md
Due: lint, format

Allow capital letters in extension names
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

Remove .toLowerCase() for curated extensions as well
  src/utils/external-extensions.ts
Due: type-check, lint, format

add changetset
  .changeset/tricky-garlics-press.md
Due: lint, format

Move curated extensions to external extensions util
  src/curated-extensions.ts
  src/utils/external-extensions.ts
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

isTrusted extension logic
  src/utils/external-extensions.ts
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

Add changeset
  .changeset/mighty-singers-burn.md
Due: lint, format

Delete export for unused consts
  src/utils/external-extensions.ts
Due: type-check, lint, format

Remove optional chaining
  src/utils/parse-arguments-into-options.ts
Due: type-check, lint, format

Yolo mode activated!
  package.json
  src/cli.ts
  src/types.ts
  src/utils/parse-arguments-into-options.ts
  src/utils/prompt-for-missing-options.ts
  src/yolo.ts
  src/yolo/create-extension-yolo.ts
  src/yolo/rollup.config.js
Due: type-check, lint, format

add changeset
  .changeset/great-days-lick.md
Due: lint, format

feat: use @fastify/deepmerge
  package.json
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
  templates/utils.js
  yarn.lock
Due: lint, format

fix: "$$$var" -> "$$var$$"
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
  templates/utils.js
Due: lint, format

feat: mention deepMerge in TEMPLATING.md
  contributors/TEMPLATING.md
Due: lint, format

fix: name validation
  src/utils/validate-name.ts
Due: type-check, lint, format

fix: redundant resolve
  src/utils/prompt-for-missing-options.ts
Due: type-check, lint, format

add changeset
  .changeset/chatty-mugs-allow.md
Due: lint, format

fix: change default array merge to replace
  templates/utils.js
Due: lint, format

fix: revert Array, add new items line
  contributors/TEMPLATING.md
Due: lint, format

feat: TEMPLATING deep merge example
  contributors/TEMPLATING.md
Due: lint, format

add beta.yml file
  .github/workflows/beta.yml
Due: none

enter beta mode
  .changeset/pre.json
Due: format

add changeset
  .changeset/strange-hounds-eat.md
Due: lint, format

fix: lint script for next + foundry, folder typo
  templates/solidity-frameworks/foundry/package.json
  templates/solidity-frameworks/foundry/packages/foundry/Makefile.template.mjs
Due: format

format changelog
  CHANGELOG.md
Due: lint, format

Object merge with special characters (#175)
  .changeset/strange-hounds-eat.md
  contributors/TEMPLATING.md
  package.json
  templates/solidity-frameworks/hardhat/packages/hardhat/hardhat.config.ts.template.mjs
  templates/utils.js
  yarn.lock
Due: lint, format

initial draft for template args rules (#195)
  contributors/TEMPLATING.md
Due: lint, format

fix: templating file
  contributors/TEMPLATING.md
Due: lint, format

fix: templating file (#215)
  contributors/TEMPLATING.md
Due: lint, format

Handle empty templates
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol.template.mjs
Due: none

Update the template for scaffold.config.ts
  templates/base/packages/nextjs/scaffold.config.ts.template.mjs
Due: none

Modify verifyall template mjs
  templates/solidity-frameworks/foundry/packages/foundry/script/VerifyAll.s.sol.template.mjs
Due: none

Add OP Retro Funding round 7 verification
  funding.json
Due: format

Path conditions:
  type-check: any of: src/**/*.ts
  lint: any of: *.{js,ts,md}
  format: any of: *.{js,ts,md,json}
